app-root{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: $color-main-bg;

  .app-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}
