$width-menu: 95px;
$height-logo: 80px;
$height-menu-item: 70px;

app-menu{
  width: $width-menu;
  height: 100%;
  background: $color-menu-bg;
  color:$color-menu-text;

  .menu{
    &__logo{
      height: $height-logo;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__item{
      height: $height-menu-item;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover{
        background: $color-menu-item-hover;
      }
    }
  }
}
