<div class="content">
  <div class="content__header">
    <button class="btn" routerLink="add">Создать заявку</button>
  </div>

  <div class="content__body">
    <!--  <div *ngIf="ts.mapPriorities.size">-->
    <!--    <div *ngFor="let item of (ts.mapPriorities) | mapToArray" [ngStyle]="{color: item.rgb}">-->
    <!--      {{item.name}}-->
    <!--    </div>-->
    <!--  </div>-->

      <!--<div *ngIf="ts.mapStatuses.size">-->
        <!--<div *ngFor="let item of (ts.mapStatuses) | mapToArray" [ngStyle]="{color: item.rgb}">-->
          <!--{{item.name}}-->
        <!--</div>-->
      <!--</div>-->

    <!--  <div class="header-table">-->
    <!--    <p *ngFor="let item of headerTable">{{item}}</p>-->
    <!--  </div>-->

    <!--<div *ngFor="let task of ts.mapTasks">-->
    <!--<app-task [task]="task"></app-task>-->
    <!--</div>-->

    <table class="table" *ngIf="ts.mapTasks.size">
      <!--    <app-table-header [list]="headerTable"></app-table-header>-->
      <tr class="table__header" *ngIf="ts.mapTasks.size">
        <td *ngFor="let item of headerTable">{{item}}</td>
      </tr>

      <tr *ngFor="let item of (ts.mapTasks) | mapToArray" class="task" routerLink="change/{{item.id}}">
        <td class="task__priorities" [ngStyle]="{'background-color':getRgb(item.priorityId)}"></td>
        <td>{{item.id}}</td>
        <td class="task__name">
          <p>{{item.name}}</p>
        </td>
        <td class="task__status">
          <p [ngStyle]="{'background-color':item.statusRgb}">{{item.statusName}}</p>
        </td>
        <td>{{item.executorName}}</td>
      </tr>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
