<div class="priorities" [ngStyle]="{'background-color':colorPriorities}"></div>

<p>{{task.id}}</p>

<div class="name">
  <p>{{task.name}}</p>
</div>

<div class="status" [ngStyle]="{'background-color':task.statusRgb}">{{task.statusName}}</div>

<p>{{task.executorName}}</p>
