app-change-task, app-add-task{
  @include ChangeComponent;

  .header{
    &__title{
      .name{
        width: 70%;
        margin-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__close{
      width: 15px;
      height: 15px;
      background: antiquewhite;
    }
  }

  .content{
    background-color: $color-tasks-change-bg;

    &__body{
      display: flex;

      .label-description{
        color: $color-tasks-change-label;
      }

      .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 30px;

        &__description{
          height: 50%;
          width: 100%;
          display: flex;
          flex-direction: column;
        }

        &__comments{
          height: 50%;
        }
      }

      .right{
        width: 300px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        border-left: 1px solid $color-tasks-border;

        .status{
          display: flex;
          align-items: center;
          height: 50px;

          $size-circle: 10px;

          div{
            width: $size-circle;
            height: $size-circle;
            border-radius: $size-circle / 2;
            margin-right: 10px;
          }
        }

        .info-block{
          height: 70px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          .tags{
            display: flex;

            p{
              background-color: $color-main-bg;
              border: 1px solid $color-tasks-border;
              border-radius: 10px;
              padding: 0 5px;
            }
          }
        }
      }
    }
  }
}
