@mixin ChangeComponent{
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: $color-tasks-change-bg;

  .header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $color-main-bg;
    background-color: $color-tasks-change-header;

    &__title{
      display: flex;
      align-items: center;
      width: 80%;
      color:$color-main-bg;
    }
  }
}
