app-task{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 2px;
  border-bottom: 1px solid $color-tasks-border;

  .priorities{
    $width-priorities: 5px;

    width: $width-priorities;
    height: 100%;
    border-radius: $width-priorities / 2;
  }

  .name{
    width: 60%;

    p{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .status{
    $height-status: 20px;

    height: $height-status;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $height-status / 2;
    color: $color-main-bg;
    font-size: 14px;
  }
}
