app-tasks{
  $height-task-header: 60px;

  position: relative;
  width: 100%;
  height: calc(100% - #{$app-header});
  background: $color-main-bg;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__header{
      width: 100%;
      height: $height-task-header;
      display: flex;
      align-items: center;
    }

    &__body{
      width: 100%;
      height: 100%;
      overflow-y: auto;

      .table{
        width: 100%;

        &__header{
          font-weight: 700;
        }

        tr.task td {
          border-bottom:1px solid $color-tasks-border;
        }

        .task{
          height: 50px;
          cursor: pointer;

          &:hover{
            background-color: $color-tasks-change-bg;
          }

          tr{
            display: flex;
            align-items: center;
            border-bottom: 1px solid $color-tasks-border;
          }

          &__priorities{
            $width-priorities: 5px;

            width: $width-priorities;
            border-radius: $width-priorities / 2;
          }

          &__name{
            max-width: 400px;

            p{
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          &__status{
            $height-status: 20px;

            color: $color-main-bg;
            font-size: 14px;

            p{
              border-radius: $height-status / 2;
              height: 20px;
              width: 80px;
              text-align: center;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
