app-comment{
  .title{
    display: flex;

    &__icon{
      $size-icon: 43px;

      width: $size-icon;
      height: $size-icon;
      min-width: $size-icon;
      border: 1px solid $color-tasks-border;
      border-radius: $size-icon / 2;
    }

    &__info{
      .date{
        font-size: 12px;
      }
    }
  }

  .comment{
    background-color: $color-tasks-change-comment;
  }
}
