<div class="header">
  <div class="header__title">
    <p>Новая заявка</p>
  </div>
  <div class="header__close" routerLink="/tasks"></div>
</div>

<div class="content">
  <div [formGroup]="group" class="group">
    <app-field-input
      [title]="'Название'"
      [value]="group.value.name"
      (onValue)="changeValue($event)"
    ></app-field-input>

    <app-field-input
      [title]="'Описание'"
      [value]="group.value.description"
      (onValue)="changeValue($event)"
    ></app-field-input>
  </div>
</div>
