<div class="menu">

  <div class="menu__logo"></div>

  <div *ngFor="let item of menu_list" class="menu__item" routerLink="{{item.url}}">
    <div class="{{item.icon}}"></div>
    <p>{{item.name}}</p>
  </div>
</div>
