<div class="header">
  <div class="header__title">
    <p>№ {{task?.id}}</p>
    <p class="name">{{task?.name}}</p>
  </div>
  <div class="header__close" routerLink="/tasks"></div>
</div>

<div class="content">

  <div class="content__body">

    <div class="left">
      <div class="left__description">
        <p class="label-description">Описание</p>
        <p>{{task?.description}}</p>

        <p>Добавление коментариев</p>

        <button class="btn">Сохранить</button>

      </div>

      <div class="left__comments">
        <app-comment *ngFor="let item of task?.lifetimeItems" [comment]="item"></app-comment>
      </div>

    </div>

    <div class="right">

      <div class="status">
        <div [ngStyle]="{'background-color':task?.statusRgb}"></div>
        <p>{{task?.statusName}}</p>
      </div>

      <div class="info-block">
        <p class="label-description">Заявитель</p>
        <p>{{task?.initiatorName}}</p>
      </div>

      <div class="info-block">
        <p class="label-description">Исполнитель</p>
        <p>{{task?.executorName}}</p>
      </div>

      <div class="info-block">
        <p class="label-description">Приоритет</p>
        <p>{{task?.priorityName}}</p>
      </div>

      <div class="info-block">
        <p class="label-description">Срок</p>
        <p>{{task?.updatedAt | sharedDatePipe:'DD.MM.YYYY г.'}}</p>
      </div>

      <div class="info-block">
        <p class="label-description">Теги</p>
        <div class="tags">
          <p *ngFor="let item of task?.tags">{{item?.name}}</p>
        </div>
      </div>

    </div>

  </div>

</div>
